---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav.astro'
import Hero from '../web/hero.astro'
import Servicios from '../web/servicios.astro';
import Nosotros from '../web/nosotros.astro';
import Ventajas from '../web/ventajas.astro';
import Garantia from '../web/garantia.astro';
import Testimonios from '../web/testimonios.astro';

---

<Layout title="Luxe Chefs.">
	<Nav></Nav>
	<Hero></Hero>
	<Servicios></Servicios>
	<Nosotros></Nosotros>
	<Ventajas></Ventajas>
	<Garantia></Garantia>
	<Testimonios></Testimonios>
</Layout>
