---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav.astro'
import Hero from '../web/hero.astro'
import Logo from '../assets/LOGO.png'

---

<Layout title="Luxe Chefs.">
	<Nav></Nav>
	<Hero></Hero>
</Layout>
