---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav.astro'
import Hero from '../web/hero.astro'
import Servicios from '../web/servicios.astro';
import Nosotros from '../web/nosotros.astro';
import Ventajas from '../web/ventajas.astro';
import Garantia from '../web/garantia.astro';
import Seguimiento from '../web/seguimiento.astro';
import Testimonios from '../web/testimonios.astro';
import Contacto from '../web/contact.jsx';
import Footer from '../components/footer.astro';
import Faq from '../web/faq.astro';


---

<Layout title="Luxe Chefs.">
	<div id="inicio"></div>
	<Nav></Nav>
	<Hero></Hero>
	<Nosotros></Nosotros>
	<Servicios></Servicios>
	<Ventajas></Ventajas>
	<Garantia></Garantia>
	<Seguimiento></Seguimiento>
	<Testimonios></Testimonios>
	<Faq></Faq>
	<Contacto client:load></Contacto>
	<Footer></Footer>
</Layout>
