---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';
---

<Layout title="Trabaja con nosotros">
    <Nav></Nav>
    <div class="cont"></div>
    <section class="trabajar">
        <div class="wrapper">
            <div class="trabajar-content">
                <h2 class="trabajar-tittle">TRABAJA CON NOSOTROS</h2>
                <div class="cta__container">
                    <a class="hero__cta" href="/#contacto">Contáctanos</a>
                </div>
                <div class="trabajar-text-container">
                    <h3 class="trabajar-subtittle">Objetivos:</h3>
                    <ul class="objetivos-list">
                        <li class="objetivos-item">2 clientes/mes mínimo. Nuestro servicio a vender:</li>
                        <li class="objetivos-item">Servicio de Chef Personal en casa de continuo, con el objetivo principal de hacer la vida del cliente más fácil y cómoda.</li>
                        <li class="objetivos-item">1 pago mensual entre los últimos 7 días del mes refiriéndose ese pago al siguiente mes.</li>
                        <li class="objetivos-item">Posibilidad de hacer la compra de alimentos también para hacer más cómoda la vida del cliente.</li>
                        <li class="objetivos-item">En el apartado de “presupuesto” la Garantía de Bienestar, explicarle al cliente:¿Qué es?.</li>
                    </ul>
                    <p class="description">Tenemos un sistema de trabajo al que le llamamos garantía de bienestar, este sistema fue diseñado y creado para tener al cliente siempre contento y satisfecho con el servicio.</p>
                    <p class="description">Este sistema consiste en lo siguiente: Al cliente se le mostrará el Chef seleccionado para cubrir su demanda, si el cliente está de acuerdo y le gusta el perfil del Chef será el seleccionado para el cliente. En caso que el cliente quisiera cambiar de Chef por alguna razón nosotros haríamos el mismo proceso con otro de nuestros Chefs de nuestro gran equipo, así hasta que el cliente encontrara el Chef ideal.</p>
                    <p class="description">Es muy poco común que el cliente quiera cambiar de Chef, ya que con el primer Chef seleccionado suelen estar muy contentos y satisfechos, pero nosotros siempre ofrecemos esta garantía de bienestar para que se sientan tranquilos, seguros y cómodos.</p>
                    <h3 class="trabajar-subtittle">Esquema de Comisión:</h3>
                    <ul class="comision-list">
                        <li class="comision-item">200€/mes (recurrentes) provenientes del cliente al que se la haya vendido el servicio.</li>
                        <li class="comision-item">Cada vez que realice el pago mensual el cliente, el Comercial recibirá su comisión del 10% del pago, es decir, obtendrá pagos recurrentes mensuales.</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
    <Footer></Footer>
</Layout>

<style>

    .cont{
        height: 130px;
    }

    .trabajar{
        color: white;
    }

    .objetivos-list{
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
    }

    .trabajar-tittle{
        font-size: 40px;
        font-weight: bold;
        background: linear-gradient(to right, #F1CB6B, #8A6300); /* Cambia estos colores por los que desees */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .trabajar-subtittle{
        margin-top: 50px;
        margin-bottom: 1.3rem;
        font-size: 20px;
        font-weight: bold;
        background: linear-gradient(to right, #F1CB6B, #8A6300); /* Cambia estos colores por los que desees */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .description{
        margin-top: 1.3rem;
    }

    .comision-list{
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
    }

    .cta__container{
        margin-top: 20px;
        border-radius: 10px;
        padding: 10px 0px;
        transition: all 0.3s ease;
        text-align: start;
    }

    .hero__cta:hover{
        opacity: 0.6;
    }

    .hero__cta{
        text-decoration: none;
        background: linear-gradient(to right, #F1CB6B, #8A6300); /* Cambia estos colores por los que desees */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 1.8rem;
        animation: flip 5s ease-in-out infinite;
        cursor: pointer;
        padding: 10px 25px;
        border: 2px solid #8A6300;
        border-radius: 10px;
    }

    @media screen and (max-width: 768px) {
        .trabajar-tittle{
            
        }
    }

</style>