---

---

<script>
    const form = document.getElementById("form") as HTMLFormElement;

    form.addEventListener('submit', async function(event) {
        event.preventDefault()
          const formData = new FormData(form)
          const data = {
            name: formData.get('nombre'),
            email: formData.get('email'),
            telefono: formData.get('telefono'),
            message: formData.get('mensaje'),
          }

          console.log(data)

          try {
              const response = await fetch('https://server-crimson-fog-7342.fly.dev/send-email'
, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
              });

              if (response.ok) {
                alert('Email enviado correctamente');
              } else {
                alert('Error al enviar el email');
              }
            } catch (error) {
              console.error('Error:', error);
              alert('Error al enviar el email');
            }
    })
</script>

<section class="contacto">
    <div class="view" id="contacto"></div>
    <div class="wrapper contacto-wrapper">
        <div class="contacto-content">
            <h2 class="contacto-tittle" >CONTACTO</h2>
            <div class="redes">
                <div class="redes-item redes-telefono">
                    <span class="strong">Teléfono:</span>
                    <a class="redes-link" href="https://wa.me/34674245070">(+34) 674 245 070</a>
                </div>
                <div class="redes-item redes-email">
                    <span class="strong">Email:</span>
                    <a class="redes-link" href="mailto:luxechefs@gmail.com">luxechefs@gmail.com</a>
                </div>
                <div class="redes-item redes-instagram">
                    <span class="strong">Instagram:</span>
                    <a class="redes-link" target="_blank" href="https://www.instagram.com/luxechefs.es/">@luxechefs.es</a>
                </div>
               
            </div>
            <h2 class="contacto-subtittle" >-PEDIR PRESUPUESTO-</h2>
            
            <form action="#" target="_blank" method="POST" name="formDatosPersonales" id="form">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Marcos Serrano Rodriguez"/>
            
                <label for="email" />Email</label>
                <input type="email" name="email" id="email" placeholder="example@gmail.com" required />
            
                <label for="telefono">Teléfono</label>
                <input type ="tel" name="telefono" id="telefono" placeholder="+34 276 728 929"/>
            
                <label for="mensaje">Mensaje</label>
                <textarea name="mensaje" id="mensaje" placeholder="Buenas Luxe Chefs..." maxlength="300"></textarea>
                
                <input type="submit" name="enviar" value="enviar mensaje"/>
            </form>
            
        </div>
    </div>
</section>

<style>

    .contacto{
        position: relative;
    }

    .view{
        position: absolute;
        top: -100px;
    }

    .contacto-tittle{
        font-size: 40px;
        font-weight: bold;
        background: linear-gradient(to right, #F1CB6B, #8A6300);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }

    .contacto-subtittle{
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        background-color: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }   

    .redes{
        margin: 30px 0;
        display: flex;
        color: white;
        justify-content: center;
        font-size: 1.1rem;
        gap: 50px;
    }

    .strong{
        font-weight: bold;
    }

    .redes-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .redes-link{
        color: rgba(255, 208, 0, 0.767);
    }
    

    form{
        
	    width:60%;
	    padding:16px;
	    border-radius:10px;
	    margin:auto;
        margin-top: 30px;
        margin-bottom: 50px;
	    background-color:#ccc;
        display: flex;
        gap: 5px;
        flex-direction: column;
        font-size: 1.1rem;
    }

    form label{
    	width:72px;
    	font-weight:bold;
    	display:inline-block;
    }

    form input[type="tel"],
    form input[type="text"],
    form input[type="email"]{
    	width:100%;
        height: 40px;
    	padding:3px 10px;
    	border:1px solid #f6f6f6;
    	border-radius:3px;
    	background-color:#f6f6f6;
    	margin:8px 0;
    	display:inline-block;
        font-size: 1.1rem;
        outline: none;
    }

    form input[type="submit"]{
    	width:100%;
    	padding:8px 16px;
    	margin-top:32px;
    	border:1px solid #000;
    	border-radius:5px;
    	display:block;
    	color:#fff;
    	background-color:#000;
        height: 40px;
        font-size: 1.1rem;
    } 

    form input[type="submit"]:hover{
    	cursor:pointer;
    }

    textarea{
    	width:100%;
    	height:100px;
    	border:1px solid #f6f6f6;
    	border-radius:3px;
    	background-color:#f6f6f6;			
    	margin:8px 0;
        padding: 10px;
    	/*resize: vertical | horizontal | none | both*/
    	resize:none;
    	display:block;
        font-family: "Lato", sans-serif;
        outline: none;
        font-size: 1.1rem;
    }

    @media screen and (max-width: 768px) {
        form{
            width: 90%;
        }

        .redes{
            flex-direction: column;
            justify-content: center;
        }
        
    }

</style>